<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{- title -}}</title>
        <script src="static/jquery-2.0.3.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <script src="static/talook.js"></script>
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>

   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Talook</a>
          <div class="nav-collapse collapse">
            <ul id="topnav" class="nav">

            <!-- top header -->


            </ul>
          </div>
	  <span class="pull-right">
	    <ul class="nav">
	      <li id="talook-info">
		<a title="more information" rel="tooltip"><i class="icon-white icon-info-sign"></i></a></li>
	      </li>
	    </ul>
	  </span>
        </div>
      </div>
    </div>



        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
		  <div class="input-prepend input-append">
		    <span class="add-on"><i class="icon icon-search"></i> </span><input title="PROTIP: You can use regular expressions!" rel="tooltip_search" id="hostfilter" type="text" placeholder="Filter hosts"><span class="add-on" id="clearfilter"><i class="icon icon-remove"></i> </span>
		  </div>

                <!--Sidebar content-->
                          <div class="well pre-scrollable sidebar-nav">
				    <ul id="sidenav" class="nav nav-list">
				      <li class="nav-header">Hosts</li>
				    </ul>

                          </div>

                </div>

                <div id="loading" class="span9 well hide">
                </div>

                <div class="span9">
                      <div id="anchors" class="well hide"></div>

                </div>

                <div id="loadinganimation" class="pre-scrollable span9 hide">
                    <img src="static/loading.gif"/>
                </div>

                <div id="content" class="pre-scrollable span9">
                <!--Body content-->
                </div>
            </div>
        </div>

        <script>
            CURRENT_ENV = null;
            var hosts = {};
            // Get the host list from the hosts local endpoint
            $.getJSON('hosts.json', function(data) {
                $.each(data, function(key, value) {
                    hosts[key] = value;
                });
            });
            var envs = ['All'];
            add_topnav_env('All');
            // Get the envs list from the envs local endpoint
            $.getJSON('envs.json', function(data) {
                $.each(data, function(index, value) {
                    // only add an env name if it isn't already in the list
                    if (envs.indexOf(value) == -1) {
                        envs.push(value);
                        add_topnav_env(value);
                    }
                });
            });

            function add_topnav_env(env) {
                $( '#topnav' ).append( $( "<li id='env-" + env + "'>" ).append(
                    '<a href="#" onClick="load_hosts(\''+env+'\')">'+env+'</a>'));
            }

            function load_hosts(env) {
                CURRENT_ENV = env;
                $("li[id^='env-']").removeClass('active');
                $("#env-" + env).addClass('active');
                $("#sidenav").empty();
                var $env_hosts = [];
                $.each(hosts, function(host, hostenv) {
                    if (hostenv == env || env == 'All') {
                        $env_hosts.push(host);
                    };
                });
                $env_hosts.sort();
                var $host_filter = new RegExp(get_host_filter());
                $.each($env_hosts, function(i, host) {
                    if ($host_filter.test(host)) {
                        $("#sidenav").append( '<li id="statsloader-' + host.replace(/\./g, '') + '" ><a href="#" onClick="load_stats(\''+host+'\')">'+host+'</a></li>');
                    }
                });
                var num_hosts = $('#sidenav li').length;
                $("#sidenav").prepend( $('<li class="nav-header">Hosts (' + num_hosts + ')</li>'));
            };

            // Read the current filter from the filter input
            function get_host_filter() {
                if ($('#hostfilter').val()) {
                    return $('#hostfilter').val();
                } else {
                    return ".*"
                }
            }

            // Host filter callback for the input form event handler
            function filter_hosts() {
                load_hosts(CURRENT_ENV);
            }

            // Filter the hosts while typing in the filter input
            $("#hostfilter").on("input", null, null, filter_hosts);

            function loading_screen(host) {
                $("#loadinganimation").show();
                $("#loading").html("<h4>Loading stats for " + host + "</h4>");
                $("#loading").show();
            }

            function load_stats(host) {
                $("li[id^='statsloader-']").removeClass('active');
                $("#statsloader-" + host.replace(/\./g, '')).addClass('active');

                var host_endpoint = 'host/' + host + '.json';
                loading_screen(host);
                $("#content").empty().hide();
                $("#anchors").empty().hide();
                $("#anchors").append('<h4>Stats for '+host+' [<a href="'+host_endpoint+'">json</a>]</h4>');
                $.getJSON(host_endpoint, function(data) {
                    // each, WHERE: key = fact title string, value = fact hash
                    $.each(data, function(key, value) {
                        $( '#content' ).append('<a id="'+key+'"></a><h2>'+key+'</h2>');
                        $( '#anchors' ).append('<a href="#'+key+'">'+key+'</a>&nbsp;');
                        $( '#content' ).append( $( '<ul id="stat_'+key+'"></ul>' ) );
                        var fact_keys = Object.keys(value).sort();
                        $.each(fact_keys, function(i, fact_key) {
                            $( '#stat_'+key ).append('<li><b>'+fact_key+'</b>: '+value[fact_key]+'</li>');
                        });
                    });
                    $("#loading").hide();
                    $("#loadinganimation").hide();
                    $("#anchors").show();
                    $("#content").show();
                });
           };
    </script>


    <!-- Help/More information -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Talook</h3>
      </div>
      <div class="modal-body">
	<p>
	  Talook is brought to you
	  by <i><a href="http://developerblog.redhat.com/tag/inception/">Inception</a></i>,
	  a team at <a href="http://www.redhat.com/">Red Hat</a>
	  working to bring DevOps practices into IT.
	</p>

	<h3>Getting Help/Reporting Bugs</h3>

	<ul>
	  <li>
	    <i class="icon icon-fire"></i> Please file all bugs on our issue tracker: <a href="https://github.com/RHInception/talook/issues">GitHub Issue Tracker</a>
	  </li>
	</ul>

	<h4>You might also enjoy</h4>

	<ul>
	  <li><a href="https://github.com/RHInception/jsonstats"><i class="icon-search"></i> jsonstats</a></li>
	</ul>

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>




    </body>
</html>
