<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{- title -}}</title>
        <script src="static/jquery-2.0.3.min.js"></script>
        <script src="static/bootstrap.min.js"></script>
        <script src="static/talook.js"></script>
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>

   <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Talook</a>
          <div class="nav-collapse collapse">
            <ul id="topnav" class="nav">

            <!-- top header -->


            </ul>
          </div>
	  <span class="pull-right">
	    <ul class="nav">
	      <li id="talook-info">
		<a title="more information" rel="tooltip"><i class="icon-white icon-info-sign"></i></a></li>
	      </li>
	    </ul>
	  </span>
        </div>
      </div>
    </div>



        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                <!--Sidebar content-->
                          <div class="well pre-scrollable sidebar-nav">
				    <ul id="sidenav" class="nav nav-list">
				      <li class="nav-header">Hosts</li>
				    </ul>

                          </div>

                </div>

                <div class="span9">
                      <div id="anchors" class="well hide"></div>

                </div>

                <div id="content" class="pre-scrollable span9">
                <!--Body content-->
                </div>
            </div>
        </div>

        <script>
            var hosts = {};
            // Get the host list from the hosts local endpoint
            $.getJSON('hosts.json', function(data) {
                $.each(data, function(key, value) {
                    hosts[key] = value;
                });
            });
            var envs = [];
            // Get the envs list from the envs local endpoint
            $.getJSON('envs.json', function(data) {
                $.each(data, function(index, value) {
                    // only add an env name if it isn't already in the list
                    if (envs.indexOf(value) == -1) {
                        envs.push(value);
                        $( '#topnav' ).append( $( "<li id='env-" + value + "'>" ).append(
                            '<a href="#" onClick="load_hosts(\''+value+'\')">'+value+'</a>'));
                    }
                });
            });

            function load_hosts(env) {
                $("li[id^='env-']").removeClass('active');
                $("#env-" + env).addClass('active');
                $("#sidenav").empty();
                $("#sidenav").append( $('<li class="nav-header">Hosts</li>'));
                var $env_hosts = [];
                $.each(hosts, function(host, hostenv) {
                    if (hostenv == env) {
                        $env_hosts.push(host);
                    };
                });
                $env_hosts.sort();
                $.each($env_hosts, function(i, host) {
                    $("#sidenav").append( '<li><a href="#" onClick="load_stats(\''+host+'\')">'+host+'</a></li>');
                });
            };

            function load_stats(host) {
                var host_endpoint = 'host/' + host + '.json';
                $("#content").empty();
                $("#anchors").empty();
                $("#anchors").append('<h4>Stats for '+host+' [<a href="'+host_endpoint+'">json</a>]</h4>');
                $.getJSON(host_endpoint, function(data) {
                    $.each(data, function(key, value) {
                        $( '#content' ).append('<a id="'+key+'"></a><h2>'+key+'</h2>');
                        $( '#anchors' ).append('<a href="#'+key+'">'+key+'</a>&nbsp;');
                        $( '#content' ).append( $( '<ul id="stat_'+key+'"></ul>' ) );
                        $.each(value, function(ikey, ivalue) {
                          $( '#stat_'+key ).append('<li><b>'+ikey+'</b>: '+ivalue+'</li>');
                        });
                    });
                });
                $("#anchors").show();
           };
    </script>


    <!-- Help/More information -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="myModalLabel">Talook</h3>
      </div>
      <div class="modal-body">
	<p>
	  Talook is brought to you
	  by <i><a href="http://developerblog.redhat.com/tag/inception/">Inception</a></i>,
	  a team at <a href="http://www.redhat.com/">Red Hat</a>
	  working to bring DevOps practices into IT.
	</p>

	<h3>Getting Help/Reporting Bugs</h3>

	<ul>
	  <li>
	    <i class="icon icon-fire"></i> Please file all bugs on our issue tracker: <a href="https://github.com/RHInception/talook/issues">GitHub Issue Tracker</a>
	  </li>
	</ul>

	<h4>You might also enjoy</h4>

	<ul>
	  <li><a href="https://github.com/RHInception/jsonstats"><i class="icon-search"></i> jsonstats</a></li>
	</ul>

      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>




    </body>
</html>
