<html>
    <head>
        <title>{{- title -}}</title>
        <script src="/static/jquery-2.0.3.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="menulist">
            <ul>
                <li><a href="#" onClick="load_hosts();">Show Hosts</a></li>
                <li><a href="#" onClick="load_envs();">Show Environments</a></li>
            </ul>
        </div>
        <div class="contentcontainer">
            <p class="content"></p>
        </div>
        <script>
            var hosts = {};
            // Get the host list from the hosts local endpoint
            $.getJSON('/hosts.json', function(data) {
                $.each(data, function(key, value) {
                    hosts[key] = value;
                });
            });
            var envs = [];
            // Get the envs list from the envs local endpoint
            $.getJSON('/envs.json', function(data) {
                $.each(data, function(index, value) {
                    envs.push(value);
                });
            });

            $( '.contentcontainer' ).fadeIn();

            load_envs = function() {
                $( '.contentcontainer' ).hide();
                $( '.content' ).remove();
                $( '.contentcontainer' ).append( $('<p class="content"></p>'));
                $.each(envs, function(index, value) {
                    $( '.content' ).append( $( '<li>' ).append(
                        '<a href="#" onClick="show_env_hosts(\''+value+'\')">'+value+'</a>'));
                });

                $( '.contentcontainer' ).fadeIn();
            };

            $( '.contentcontainer' ).fadeIn();

            load_hosts = function() {
                $( '.contentcontainer' ).hide();
                $( '.content' ).remove();
                $( '.contentcontainer' ).append( $('<p class="content"></p>'));
                $.each(hosts, function(key, value) {
                    $( '.content' ).append( $( '<li>' ).append(
                        '<a href="#" onClick="load_stats(\''+key+'\')">'+key+' ('+value+')</a>'));
                });

                $( '.contentcontainer' ).fadeIn();
            };

            load_stats = function(host) {
                $( '.contentcontainer' ).hide();
                $( '.content' ).remove();
                $( '.contentcontainer' ).append( $('<p class="content"></p>'));
                $.getJSON('/host/' + host + '.json', function(data) {
                    $.each(data, function(key, value) {
                        $( '.content' ).append('<div class="stat_'+key+'"><h2>'+key+'</h2></div>');
                        $.each(value, function(ikey, ivalue) {

                            $( '.stat_'+key ).append('<b>'+ikey+'</b>: '+ivalue+'<br/>');

                        });
                    });
                });
                $( '.contentcontainer' ).fadeIn();
            };

            show_env_hosts = function(env) {
                $('.contentcontainer').hide();
                $('.content').remove();
                $('.contentcontainer').append('<ul class="content"></ul>');
                $.each(hosts, function(key, value) {
                    if (value == env) {
                        $('.content').append(
                            '<li><a href="#" onClick="load_stats(\''+key+'\')"><b>'+key+'</a></li>');
                    }
                });
                $('.contentcontainer').fadeIn();
            };
        </script>
    </body>
</html>
